/* font */
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *::before,
    *::after {
        border-width: 0;
    }
    html {
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-text-size-adjust: none; /* for iOS Safari */
        text-size-adjust: none; /* for other mobile browsers */
        background-color: black;
    }

    html:focus-within {
        scroll-behavior: smooth;
    }

    body {
        --path: "home";
        min-height: 100vh;
        max-width: 100%;
        overflow-x: clip;
        overflow-y: auto;
        text-rendering: optimizeSpeed;
        font-weight: 500;
        @apply font-barlow text-lg;
        background-color: black;
        word-wrap: break-word;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* @media screen and (min-width: 768px) {
        body {
            background-image: url("/image/home/background-home-tablet.jpg");
        }
    }

    @media screen and (min-width: 1280px) {
        body {
            background-image: url("/image/home/background-home-desktop.jpg");
        }
    } */

    body > #__next {
        width: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-rows: min-content 1fr;
        position: relative;
        row-gap: 1rem;
    }

    @media screen and (min-width: 768px) {
        body > #__next {
            row-gap: 1.5rem;
        }
    }

    @media screen and (min-width: 1280px) {
        body > #__next {
            row-gap: 4.75rem;
        }
    }

    /* Add pointer cursors to interactive elements  */
    label:not([disabled]),
    button:not([disabled]),
    select:not([disabled]),
    summary:not([disabled]),
    [type="radio"]:not([disabled]),
    [type="submit"]:not([disabled]),
    [type="checkbox"]:not([disabled]) {
        cursor: pointer;
    }

    [disabled] {
        cursor: not-allowed;
    }

    /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
    @media (prefers-reduced-motion: reduce) {
        html:focus-within {
            scroll-behavior: auto;
        }

        *,
        *::before,
        *::after {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
            scroll-behavior: auto !important;
        }
    }

    /* custom scrollbar */

    /* body {
        scrollbar-gutter: stable both-edges;
    } */

    ::-webkit-scrollbar {
        min-width: 100%;
    }

    ::-webkit-scrollbar-track {
        @apply bg-primary/25 backdrop-blur-sm;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-accent;
        border-radius: 100px;
    }
}

@layer utilities {
    .mask-1 {
        mask-size: 800%;
        -webkit-mask-size: 800%;
        mask: linear-gradient(
            to left,
            transparent 40%,
            black 50%,
            black 60%,
            transparent 80%
        );
        -webkit-mask: linear-gradient(
            to left,
            transparent 40%,
            black 50%,
            black 60%,
            transparent 80%
        );
    }

    /* Typography */

    h1 {
        @apply font-bellefair text-[clamp(5rem,7vw+1rem,9.375rem)] uppercase leading-tight md:text-7xl;
    }

    h2 {
        @apply font-bellefair text-4xl leading-tight md:text-5xl  xl:text-6xl;
    }
    h3 {
        @apply font-bellefair text-[1.5rem] md:text-3xl  xl:text-4xl;
    }
    h4 {
        @apply font-bellefair text-[1.25rem] md:text-2xl;
    }
    h5 {
        @apply font-condensed text-base uppercase tracking-widest md:text-[1.25rem] xl:text-xl;
    }
    h6 {
        @apply font-bellefair text-xl;
    }
    .h7 {
        @apply font-condensed text-xs tracking-wide;
    }
    nav {
        @apply font-condensed text-base tracking-wider;
    }
    p {
        @apply text-sm md:text-base lg:text-lg;
        line-height: 1.75em;
    }

    .text-shadow {
        text-shadow: -1px 1px 1px hsla(0, 0%, 100%, 0.25),
            1px -1px 1px hsla(0, 0%, 0%, 0.25);
    }

    .round-mask {
        mask: radial-gradient(transparent 65%, black 85%);
    }
    .linear-mask {
        mask: linear-gradient(to left, transparent 50%, black 80%);
    }

    /* Spicy */
    @supports ((background-clip: text) or (-webkit-background-clip: text)) and
        ((color: transparent) or (-webkit-text-fill-color: transparent)) {
        .spicy {
            margin: 0;
            text-shadow: -1px 1px 2px hsla(0, 0%, 100%, 0.1),
                1px -1px 2px hsla(0, 0%, 0%, 0.1);

            color: transparent !important;
            -webkit-text-fill-color: transparent !important;
            background-clip: text;
            -webkit-background-clip: text;

            @apply animate-bg-slide;
        }

        @supports (
            -webkit-box-reflect: below -0.65em
                linear-gradient(transparent 52%, #fff)
        ) {
            .spicy {
                -webkit-box-reflect: below -0.65em linear-gradient(transparent
                            52%, #fff);
            }
        }
    }
}
